body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header > *{
    margin: auto;
    display: block;
    text-align: center;
    font-family: 'Helvetica';
    font-style: italic;
}

footer{
    line-height: 2px;
}

nav{
    font-family: 'Calibri';
    text-align: center;
    font-size: 17px;
    line-height: 2px;
}

a{
    color: #FFFFFF;
}

a:visited{
    color: #FFFFFF;
}
  
a:hover {
    color: #81A0FF;
}

h2{
    line-height: 6px;
}

#minha-foto{
    height: 10%;
    width: 10%;
    border-radius: 50%;
    border: solid #FFFFFF 2px;
}

#quadroFotos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 30%));
    grid-template-rows: auto;
    grid-gap: 6px;
}

#quadroFotos > img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 2%;
}

.cursoAtual{
    line-height: 4px;
}